<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P3D_Scenario_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <P3D_Scenario_Generator.Properties.Settings>
            <setting name="TextBoxSettingsCacheDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSettingsCacheDailyTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourMapMonitorNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourMapOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourMapMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourMapMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourPhotoMonitorNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourPhotoOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourPhotoMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourPhotoMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSettingsCacheUsage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxSettingsCacheServersSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxSettingsScenarioFolderSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxPhotoTourPhotoAlignmentSelectedIndex"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxPhotoTourMapAlignmentSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxPhotoTourMapWindowSizeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourMapHotspotRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourConstraintsMinLegDist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourConstraintsMaxLegDist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourConstraintsMinNoLegs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourConstraintsMaxNoLegs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxPhotoTourConstraintsMaxBearingChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitUpwind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitBase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitFinal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitHeightUpwind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitHeightDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitHeightBase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitTurnRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCircuitSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignTilt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignGateHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignSegmentLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignSegmentRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCelestialMinDist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxCelestialMaxDist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxSignMessageSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignMonitorNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxSignAlignmentSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSignMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiMapMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiMapMonitorNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiMapMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiMapOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiMapAlignmentSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiMapWindowSizeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiURLSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiItemLinkColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiStartingItemSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiFinishingItemSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiTableNamesSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiRouteSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLMonitorNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxWikiURLAlignmentSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxWikiURLWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxSettingsSimulatorVersionSelectedIndex"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextBoxSettingsP3DprogramData" serializeAs="String">
                <value>C:\ProgramData\Lockheed Martin\Prepar3D v</value>
            </setting>
        </P3D_Scenario_Generator.Properties.Settings>
    </userSettings>
</configuration>