<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P3D_Scenario_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <P3D_Scenario_Generator.Properties.Settings>
            <setting name="Prepar3Dv5Files" serializeAs="String">
                <value>C:\Users\david\OneDrive\Documents\Prepar3D v5 Files</value>
            </setting>
            <setting name="SelectedAircraft" serializeAs="String">
                <value>Piper Cub</value>
            </setting>
            <setting name="AircraftImage" serializeAs="String">
                <value>thumbnail.jpg</value>
            </setting>
            <setting name="CruiseSpeed" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="CacheMonth" serializeAs="String">
                <value>9-2024</value>
            </setting>
            <setting name="CacheMonthlyTotal" serializeAs="String">
                <value>464</value>
            </setting>
        </P3D_Scenario_Generator.Properties.Settings>
    </userSettings>
</configuration>