body {
    background-color: rgb(240, 248, 255);
	margin: 0; 
	padding: 0;
}
#mapDiv {
	height: mapHeightXpx;
	width: mapWidthXpx;
	overflow: hidden;
}
#buttonDiv {
	padding: 10px;
}
#aerialMapZoom1, #roadMapZoom1, #aerialMapZoom2, #aerialLabelsMapZoom2, #roadMapZoom2, #aerialMapZoom4, #aerialLabelsMapZoom4, #roadMapZoom4, #showButton, #aerialLabelsButton, #zoom1Button {
	display: none;
}
#plane {
	position: absolute;
}