body {
    background-color: rgb(240, 248, 255);
	margin: 0; 
	padding: 0;
}
#mapDiv {
	height: mapHeightXpx;
	width: mapWidthXpx;
	overflow: hidden;
}
#buttonDiv {
	padding: 10px;
}
#aerialMap, #roadMap, #aerialMapZoom, #aerialLabelsMapZoom, #roadMapZoom, #showButton, #aerialLabelsButton, #overviewButton {
	display: none;
}
#plane {
	position: absolute;
}