body {
	background-color: rgb(240, 248, 255);
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#mapDiv {
	height: 512px;
	width: 512px;
}
#buttonDiv {
	padding: 10px;
}
#roadMapZoom2, #roadMapZoom3 {
	display: none;
}
#plane {
	position: absolute;
}