:root {
	/* INFO button group colours */
	--info-background-color: darkseagreen;
	--info-border-color: darkolivegreen;
	--info-text-color: darkolivegreen;
	--info-hover-background-color: darkolivegreen;
	/* FIX button group colours */
	--fix-background-color: coral;
	--fix-border-color: firebrick;
	--fix-text-color: firebrick;
	--fix-hover-background-color: firebrick;
	/* FOVH, AZ, ALT button groups colours */
	--viewPort-background-color: powderblue;
	--viewPort-border-color: navy;
	--viewPort-text-color: navy;
	--viewPort-hover-background-color: navy;
	/* Ho button group colours */
	--reading-background-color: plum;
	--reading-border-color: purple;
	--reading-text-color: purple;
	--reading-hover-background-color: purple;
	/* Button group */
	--button-group-line: 2px;
	--button-group-margin: 5px;
	--button-group-padding: 5px;
	--button-group-radius: 8px;
	/* Button */
	--button-hover-text-color: white;
	--button-line: 1px;
	--button-radius: 5px;
}

body {
	background-color: rgb(240, 248, 255);
	height: 100%;
	margin: 0;
	padding: 0;
}

.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	display: none;
	float: left;
	height: 100%;
}

#canvas {
	padding: var(--button-group-padding);
}

#INFO, #FIX, #FOV, #AZ, #ALT, #Ho  {
	border-radius: var(--button-group-radius);
	display: inline-block;
	margin: var(--button-group-margin);
	padding: var(--button-group-padding);
}

#INFO {
	background-color: var(--info-background-color);
	border: var(--button-group-line) solid var(--info-border-color);
}

#FIX {
	background-color: var(--fix-background-color);
	border: var(--button-group-line) solid var(--fix-border-color);
}

#FOV, #AZ, #ALT {
	background-color: var(--viewPort-background-color);
	border: var(--button-group-line) solid var(--viewPort-border-color);
}

#Ho {
	background-color: var(--reading-background-color);
	border: var(--button-group-line) solid var(--reading-border-color);
}

#INFO button, #FIX button, #FOV button, #AZ button, #ALT button, #Ho button {
	cursor: pointer;
	border-radius: var(--button-radius);
}

#INFO button {
	color: var(--info-text-color); 
	border: var(--button-line) solid var(--info-border-color);
}

#FIX button {
	color: var(--fix-text-color);
	border: var(--button-line) solid var(--fix-border-color);
}

#FOV button, #AZ button, #ALT button {
	color: var(--viewPort-text-color); 
	border: var(--button-line) solid var(--viewPort-border-color);
}

#Ho button {
	color: var(--reading-text-color); 
	border: var(--button-line) solid var(--reading-border-color);
}

#INFO button:hover, #FIX button:hover, #FOV button:hover, #AZ button:hover, #ALT button:hover, #Ho button:hover {
	color: var(--button-hover-text-color);
}

#INFO button:hover {
	background-color: var(--info-hover-background-color); 
}

#FIX button:hover {
	background-color: var(--fix-hover-background-color);
}

#FOV button:hover, #AZ button:hover, #ALT button:hover {
	background-color: var(--viewPort-hover-background-color); 
}

#Ho button:hover {
	background-color: var(--reading-hover-background-color); 
}

/* Sight Reduction table */

input {
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table select {
	width: 115px;
}

table {
	margin: 10px 25px 10px 25px;
}

td {
	text-align: center;
	padding: 5px;
	width: 120px;
}

th {
	text-align: left;
	padding: 5px;
	width: 120px;
}